@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css")
layer(framework);
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css")
layer(framework);

@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&family=Kalam:wght@300;400;700&family=Pacifico&display=swap");

:root {
  --clr-darkergreen: #0d332d;
  --clr-darkgreen: #02492a;
  --clr-christmasgreen: #028b4c;

  --clr-darkred: #5f241d;
  --clr-christmasred: #f8113c;

  --clr-darkpink: #af184f;
  --clr-lightpink: #fd5aad;

  --clr-lightbrown: #f0dccd;
  --clr-coffeebrown: #cd8b51;
  --clr-goldenbrown: #e1931a;
  --clr-mainbrown: #b47636;
  --clr-darkbrown: #4e260c;
  --clr-grayBrown: #54372b;

  --clr-background: #221518;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--clr-background);
  max-width: 100vw;
  overflow-x: hidden;
}

a:link{
  text-decoration: none;
}

button.addCoffee {
  position: fixed;
  border-radius: 999px;
  min-width: 60px;
  max-height: 60px;
  background-color: var(--clr-grayBrown);
  border: 3px solid var(--clr-background);
  bottom: 30px;
  right: 30px;
  z-index: 5;
  font-size: 40px;
  padding: unset;
  margin: unset;
  opacity: 0.7;
}



p.btnSymbol {
  padding: unset;
  margin-bottom: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: unset;
  margin: unset;
}

ul {
  font-family: "Kalam", cursive;
}

/*HEADER SECTION*/

header.container-fluid {
  position: relative;
}
header.row {
  /*position: relative;*/
  padding: 0;
  margin: 0;
}
img.headerBGimg {
  position: absolute;
  padding: unset;
  margin: unset;
  height: 363px;
  z-index: 0;
}
img.headerRectangle {
  width: 100%;
  position: absolute;
  height: 363px;
  padding: unset;
}

.logoAndCo {
  position: relative;
}

.header-logo {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 9999px;
}

.header-h3 {
  font-weight: 900;
  font-size: 35px;
  font-family: "Edu TAS Beginner", cursive;
  color: var(--clr-lightbrown);
  border-bottom: 2px solid var(--clr-lightbrown);
}

button.header-nav {
  background-color: var(--clr-coffeebrown);
  border: 2px solid var(--clr-mainbrown);
}

.navtab-clr {
  background-color: var(--clr-grayBrown);
  border-left: 2px solid var(--clr-background);
}

ul.navLinks {
  font-size: 25px;
}

li a.li-nav {
  color: var(--clr-lightbrown);
}

ul.dropdown-menu-dark {
  background-color: var(--clr-darkbrown);
}

/*INTRO SCENE*/

.container-fluid.intro-scene {
  position: relative;
  color: var(--clr-lightbrown);
  min-height: 294px;
}

h1 {
  font-size: 50px;
}

h3.hero-speech {
  font-size: 35px;
}

h3.hero-speech.top {
  border-top: 2px solid var(--clr-mainbrown);
}

h3.hero-speech.bottom {
  border-bottom: 2px solid var(--clr-mainbrown);
}

/*HERO SCENE SECTION*/

.container-fluid.hero-scene {
  position: relative;
  height: 80dvh;
  padding: unset;
  margin: unset;
}

.hero-scene .row {
  flex-grow: 1;
}

img.hero-rectangle {
  position: absolute;
  height: 100%;
  width: 27vw;
  right: -20px;
  bottom: 0;
  opacity: 0.3;
  z-index: 0;
}

img.hero-img {
  position: absolute;
  height: 80vh;
  width: 60vw;
  bottom: 0;
  right: -10px;
  z-index: 2;
}

.sliders {
  max-width: 100%;
  aspect-ratio: calc(3 / 2);
  opacity: 0.7;
  border-radius: 20px;
  margin: 5vh 0;
}
.carousel-caption {
  margin-bottom: 20px;
}

/*SEARCH FIELD SECTION*/

section.search-field {
  background-color: var(--clr-lightbrown);
  height: 100%;
  padding-bottom: 50px;
}

label.btn-Search {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--clr-grayBrown);
  color: var(--clr-lightbrown);
  font-size: 20px;
  border: 2px solid var(--clr-darkbrown);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  &:has(input:checked) {
    background-color: var(--clr-lightbrown);
    color: var(--clr-grayBrown);
  }
  & input {
    display: none;
  }
}
.search-bar {
  min-width: 45%;
  height: 60px;
  font-family: "Edu TAS Beginner", cursive;
  font-size: 30px;
  font-weight: 800;
  border-radius: 10px;
}
.coffeeCard {
  position: relative;
  width: 30vw;
}

.coffee-img {
  width: 380px;
}

.coffee-info {
  position: absolute;
  left: 280px;
  top: 80px;
}

.coffee-form {
  background-color: var(--clr-lightbrown);
  border: 5px solid var(--clr-darkbrown);
  box-shadow: 5px 10px 30px 10px var(--clr-grayBrown);
  padding: 20px 20px 40px 20px;
  border-radius: 20px;
  position: fixed;
  width: 600px;
  left: 25%;
  top: 10%;
  z-index: -10;
  display: flex;
  flex-direction: column;
  align-items: center;
  &.display-form {
    z-index: 99;
  }
}

.form-control {
  width: 400px;
  border: 3px solid var(--clr-mainbrown);
  font-family: "Kalam", cursive;
  font-weight: 700;
}

.form-control::placeholder {
  color: var(--clr-darkbrown);
}

.formLogoDiv{
  border-bottom: 3px solid var(--clr-grayBrown);
}

img.formLogo {
  border-radius: 999px;
  width: 50px;
}

button.submitCoffee {
  background-color: var(--clr-grayBrown);
  border: 3px solid var(--clr-background);
  padding: 5px 30px;
  font-family: "Kalam", cursive;
  font-weight: 700;
  color: var(--clr-lightbrown);
  font-size: 20px;
}

button.submitCoffee:hover {
  background-color: var(--clr-mainbrown);
}

button.closeForm {
  position: absolute;
  font-size: 20px;
  width: 50px;
  aspect-ratio: 1/1;
  background-color: var(--clr-grayBrown);
  border-radius: 999px;
  right: 30px;
  top: 30px;
  color: var(--clr-lightbrown);
  border: 3px solid var(--clr-background);
}

button.closeForm:hover {
  background-color: var(--clr-mainbrown);
}


/*FOOTER SECTION*/

footer.container-fluid{
  position: relative;
  height: 30dvh;
  background-image: url(../img/footer-coffee-img.jpeg);
  background-size: cover;
  background-position: center;
}

.footerUl{
  padding: unset;
  margin: unset;
  list-style: none;
}

.footerUl li{
  font-family: 'Kalam', cursive;
  font-size: 20px;
}

.footerUl li a{
  color: var(--clr-lightbrown);
  text-decoration: underline;
}


.footerNav{
  flex-grow: 1;
}